<!DOCTYPE html>
<html>
  <%- include('../../partials/header', { title: 'Create Hunting Quest' }) %>
  <link rel="stylesheet" href="/hunting-quest/create.css" />
  <body>
    <h1><%= title %></h1>
    <main>
      <%- include('../../components/hunting-quest/monster-select-forms') %>

      <div class="flex-row">
        <%- include('../../components/hunting-quest/player-comp',
        {weaponAttributes, weaponTypes, skills}) %>
      </div>

      <div class="flex-row">
        <%- include('../../components/hunting-quest/quest-details-form') %>
        <section id="quest-preview"></section>
      </div>
    </main>
    <%- include('../../partials/footer') %>

    <script>
        globalThis.serverData = {
        monstersList: <%- JSON.stringify(monsters) -%>,
        bonusQuestRewardsList: <%- JSON.stringify(bonusQuestRewards) -%>,
        monstersDropsList: <%- JSON.stringify(monstersDrops) -%>,
        skillsList: <%- JSON.stringify(skills) -%>,
        weaponTypesList: <%- JSON.stringify(weaponTypes) -%>,
        weaponAttributesList: <%- JSON.stringify(weaponAttributes) -%>,
        systemLoadoutsList: <%- JSON.stringify(systemLoadouts) -%>,
      };
      Object.freeze(globalThis.serverData);
    </script>
    <script src="/hunting-quest/create.js"></script>
  </body>
</html>
