<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head', { title }) %>
  <link rel="stylesheet" href="/hunting-quest/index.css" />
  <body>
    <%- include('../../partials/header') %>
    <main>
      <h2><%= title %></h2>
      <ul class="hunting-quests"></ul>
    </main>
    <%- include('../../partials/footer') %>
    <script>
        globalThis.serverData = {
        huntingQuests: <%- JSON.stringify(huntingQuests) -%>,
        monstersDropsList: <%- JSON.stringify(monstersDrops) -%>,
        weaponTypesList: <%- JSON.stringify(weaponTypes) -%>,
        weaponAttributesList: <%- JSON.stringify(weaponAttributes) -%>,
      };
      Object.freeze(globalThis.serverData);
    </script>
    <script src="/hunting-quest/index.js"></script>
  </body>
</html>
