<!DOCTYPE html>
<html>
  <%- include('../../partials/header', { title }) %>
  <link rel="stylesheet" href="/hunting-quest/show.css" />
  <body>
    <header>
      <a href="/"><button>Back to hunting quests</button></a>
    </header>
    <main>
      <article class="hunting-quest">
        <h2>Quest Details</h2>
        <div class="action-list">
          <a href="/<%= huntingQuest.id %>/edit"><button>Update</button></a>
          <form action="/<%= huntingQuest.id %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
          </form>
        </div>
      </article>
    </main>
    <%- include('../../partials/footer') %>
    <script>
        globalThis.serverData = {
        huntingQuest: <%- JSON.stringify(huntingQuest) -%>,
        monstersDropsList: <%- JSON.stringify(monstersDrops) -%>,
      };
      Object.freeze(globalThis.serverData);
    </script>
    <script src="/hunting-quest/show.js"></script>
  </body>
</html>
