<!DOCTYPE html>
<html>
  <%- include('../../partials/header', { title: 'Create Hunting Quest' }) %>
  <body>
    <h1><%= title %></h1>
    <main>
      <%- include('../../components/hunting-quest/monster-form') %>

      <div class="flex-row">
        <%- include('../../components/hunting-quest/quest-details-form') %>
        <section id="quest-preview"></section>
      </div>
    </main>
    <%- include('../../partials/footer') %>

    <!-- Include JavaScript files -->
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/hunting-quest/create.js"></script>
    <script type="module">
      import {initiateCreatePageServerVariables} from '/js/hunting-quest/create.js'
      const monstersList = <%- JSON.stringify(monsters) -%>;
      const bonusQuestRewardsList = <%- JSON.stringify(bonusQuestRewards) -%>;
      const monstersDropsList = <%- JSON.stringify(monstersDrops) -%>;
      const skillsList = <%- JSON.stringify(skills) -%>;

      // Pass server data to client scripts
      initiateCreatePageServerVariables(
        monstersList,
        bonusQuestRewardsList,
        monstersDropsList,
        skillsList,
      );
    </script>
    <script type="module" src="/js/hunting-quest/monster-form.js"></script>
    <script type="module" src="/js/hunting-quest/quest-details.js"></script>
    <script type="module" src="/js/hunting-quest/preview.js"></script>
  </body>
</html>
