<fieldset id="player-comp">
  <legend>Party Composition</legend>
  <div class="player-slots-list"></div>
</fieldset>
<fieldset id="configure-slot" style="flex: 1">
  <legend>Configure slot</legend>
</fieldset>

<template id="add-player-slot-template">
  <h3 class="ignore"></h3>
  <div class="player-slot open-slot">
    <div class="add-slot">
      <button id="add-player">+</button>
      <span>Add player</span>
    </div>
  </div>
</template>

<template id="player-configure-form-template">
  <div class="config-tabs">
    <ul>
      <li><a href="#tabs-loadouts">Loadouts</a></li>
      <li><a href="#tabs-custom">Custom</a></li>
    </ul>
    <div
      id="tabs-loadouts"
      style="display: flex; flex-direction: column; gap: 0.5em"
    >
      <h2 style="margin: 0.5em 0em">Select Loadout</h2>
      <div class="search-bar flex-row">
        <input
          type="text"
          placeholder=" Search..."
          style="border-radius: 1em; height: 2em; width: 100%"
          class="loadouts-search"
        />
      </div>

      <div class="flex-row" style="flex-wrap: wrap">
        <button
          class="pill-button"
          style="background-color: #d84d4d; color: white"
        >
          DPS
        </button>
        <button
          class="pill-button"
          style="background-color: #3f8fcc; color: white"
        >
          Tank
        </button>
        <button
          class="pill-button"
          style="background-color: #e439bf; color: white"
        >
          Status
        </button>
        <button
          class="pill-button"
          style="background-color: #3dc471; color: white"
        >
          Support
        </button>
      </div>

      <div class="loadouts-list">
        <!-- ... loadouts loaded here -->
      </div>
    </div>
    <div id="tabs-custom">
      <form class="custom-tab-form">
        <!-- ... slot fields, loadout config. Auto updated on change -->
        <label for="roles">Role:</label>
        <select id="roles" name="roles[]" multiple="multiple">
          <option value="DPS">DPS</option>
          <option value="Tank">Tank</option>
          <option value="Status">Status</option>
          <option value="Support">Support</option>
        </select>

        <label for="weapon-types">Weapon type:</label>
        <select id="weapon-types" name="weapon-types[]" multiple="multiple">
          <% if (weaponTypes) { %> <% weaponTypes.forEach((type) => { %>
          <option
            data-weapon-icon="<%= type.name.replaceAll(' ','_') %>"
            value="<%= type.id %>"
          >
            <%= type.name %>
          </option>
          <% }) %> <% } %>
        </select>

        <label for="weapon-attributes">Weapon attribute:</label>
        <select
          id="weapon-attributes"
          name="weapon-attributes[]"
          multiple="multiple"
        >
          <% if (weaponAttributes) { weaponAttributes.forEach((attribute) => {
          %>
          <option
            data-attr-icon="<%= attribute.icon %>"
            value="<%= attribute.id %>"
          >
            <%= attribute.name %>
          </option>
          <% }) } %>
        </select>

        <label for="notes">Notes:</label>
        <textarea
          name="notes"
          id="notes"
          placeholder="Your insane strat here..."
        ></textarea>

        <label>Skills:</label>
        <button type="button" class="add-skill-button">Add Skill +</button>
      </form>
    </div>
  </div>
</template>

<template id="skill-template">
  <div class="flex-row skill" style="align-items: center">
    <select class="skill-dropdown">
      <option value="ANY">Any</option>
      <% if (skills) { %> <% skills.forEach((skill)=> { %>
      <option
        data-skill-icon="<%= skill.icon %>"
        data-skill-max-level="<%= skill.max_level %>"
        value="<%= skill.id %>"
      >
        <%= skill.name %>
      </option>
      <% }) %> <% } %>
    </select>
    <select disabled class="skill-level" placeholder="Select level..."></select>
    <button type="button" class="remove-skill-button">X</button>
  </div>
</template>

<template id="loadout-template">
  <div class="loadout-item">
    <div class="loadout-header">
      <h3 class="loadout-title">Custom Loadout</h3>
      <div class="loadout-roles">
        <!-- Roles will be inserted here -->
      </div>
    </div>

    <div class="loadout-content">
      <i>
        <p class="loadout-description">
          This loadout has specific requirements for joining.
        </p>
      </i>
      <div class="loadout-weapons-attributes">
        <div class="loadout-section weapons">
          <ul class="weapon-list">
            <!-- Weapons will be inserted here -->
          </ul>
        </div>

        <div class="loadout-section attributes">
          <ul class="attribute-list">
            <!-- Attributes will be inserted here -->
          </ul>
        </div>
      </div>

      <div class="loadout-skills">
        <ul class="skills-icons">
          <!-- Skill icons will be inserted here -->
        </ul>
      </div>
    </div>
  </div>
</template>

<%- include('hunter-slot') %>
